@media (min-width: 376px) and (max-width: 991px)
{
    .entête h1 
    {
        margin-right: 18rem;
    }
    .image-palette img 
    {
        max-height: 19rem;
        width: 100%;
    }
    .titre .icone-aime
    {
        font-size: 2rem;
        position: relative;
    }
    .titre .icone-aime-2
    {
        position: absolute;
        font-size: 2.1rem;
        margin-top: -1px;
        color: transparent;
        background: linear-gradient(var(--primary),var(--secondary));
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 600ms;
    }
    .titre .icone-aime-2:hover
    {
        opacity: 1;
    }
    .menu-item
    {
        width: 100%;
    }
    .menu-item p 
    {
        max-width: 19.2rem;
    }    
    .menu-description .prix
    {
        font-weight: bold;
        transition: all 0.5s;   
    }
    .menu-confirmation
    {
        margin-left: 17%;
    }
    footer h2 
    {
        margin-left: 45%;
    }
    .footer-information
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 3rem;
    }
}