@media (min-width: 376px) and (max-width: 991px)
{
    .entête h1 
    {
        margin-right: 18rem;
    }
    .image-palette img 
    {
        max-height: 19rem;
        width: 51.2rem;
    }
    .titre i 
    {
        margin-left: 30rem;
    }
    .menu-item
    {
        width: 100%;
    }
    .menu-item p 
    {
        text-overflow: inherit;
    }
    .prix
    {
        margin-left: 6rem;
    }
    .menu-confirmation
    {
        margin-left: 3rem;
    }
    footer h2 
    {
        margin-left: 23rem;
    }
    .footer-information
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 3rem;
    }
}